/**
 * style.css
 *
 */


.layout-1
{
        background-color: dimgray;
        color: white;
        padding: 16px 32px;
}


.layout-1 h1 {
        font-size: 300px;
        text-align: center;
}

.layout-1 h2 {
        font-size: 70px;
        text-align: center;
}
