/**
 * style.css
 *
 */


body {
        background-color: black;
        color: white;
}

.layout-1
{
        background-color: darkkhaki;
        color: black;
        padding: 16px 32px;
        font-family: sans-serif;
}


.layout-1 h1 {
        font-size: 100px;
        text-align: center;
}

.layout-1 h2 {
        font-size: 70px;
        text-align: center;
}




.layout-2
{
        background-color: darkkhaki;
        color: black;
        padding: 16px 27px;
        font-family: sans-serif;
}


.layout-2 h1 {}

.layout-2 h2 {}
